<!DOCTYPE html>
<html
  lang="en"
  th:replace="~{base :: parent(~{::#content},~{::title},~{::script})}"
>
  <head>
    <title>Contact Us Page</title>
  </head>
  <body>
    <div id="content" class="p-8">
      <h1 class="text-3xl font-bold mb-4">Welcome to the Contact Page</h1>
      <p>
        If you have any questions, feedback, or inquiries, feel free to reach out! I'm always open to discussing new projects, potential collaborations, or any ideas you have in mind.
      </p>

      <h2 class="text-2xl font-semibold mb-2">Get in Touch</h2>
      <p>
        You can contact me via the following methods:
      </p>
      <ul class="list-disc ml-6 mb-4">
       
       
        <li><strong>LinkedIn:</strong> <a href="https://www.linkedin.com/in/ishan-berry-989045203/" target="_blank" class="text-blue-500 hover:underline">Ishan Berry</a></li>
        <li><strong>GitHub:</strong> <a href="https://github.com/ishanberry" target="_blank" class="text-blue-500 hover:underline">github.com/ishanberry</a></li>
      </ul>

      <h2 class="text-2xl font-semibold mb-2">Follow Me</h2>
      <p>
        Stay updated with my latest projects and activities by following my social media channels:
      </p>
      <ul class="list-disc ml-6">
        <li><strong>YouTube:</strong> <a href="https://www.youtube.com/@CodingwithIshan-nw3bi" target="_blank" class="text-blue-500 hover:underline">Coding with Ishan</a></li>
        <li><strong>Portfolio:</strong> <a href="https://ishandevportfolio.vercel.app/" target="_blank" class="text-blue-500 hover:underline">My Portfolio</a></li>
      </ul>

      <h2 class="text-2xl font-semibold mb-2">Thank You!</h2>
      <p>
        I appreciate your interest in getting in touch, and I look forward to connecting with you!
      </p>
    </div>
    <script>
      console.log("Contact page");
    </script>
  </body>
</html>
